/* Bedri */

/* first mobile */
/* header */
.header {
  max-width: 368px;
  background-color: red;
  position: sticky;
  top: 0;
}
.container {
  display: inline;
}
.hero p {
  text-transform: uppercase;
  color: red;
}
