/* Bedri */

/* first mobile */

/* ==== desctop =======  */
/* header */

.header {
  max-width: 1280px;
  /* max-height: 36px; */
  /* background-color: red; */
  /* position: absolute; */
}
.container {
  display: flex;
  /* padding: 70px 80px; */
}
.main-nav {
  display: block;
}
.hero p {
  text-transform: uppercase;
  color: #ff3998;
}

/* Supanikavau. Supratau, kad mano mokinimosi metodai netinkami.  */
/* Atsiprasau, pazadu saau surasti buda, ir metoda kaip viska issisavinti */
